.inventario_dashboard__cuadricula {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 400px;
    grid-template-rows: 100px 120px 120px 150px 150px 120px 120px 120px 120px;
    grid-template-areas:
    "resultados resultados resultados resultados resultados categorias"
    "ult_existencias ult_existencias ult_existencias ult_existencias ult_existencias categorias"
    "ult_existencias ult_existencias ult_existencias ult_existencias ult_existencias categorias"
    "proveedores proveedores proveedores proveedores proveedores categorias"
    "proveedores proveedores proveedores proveedores proveedores categorias"
    "bajas bajas bajas prestamos prestamos prestamos"
    "bajas bajas bajas prestamos prestamos prestamos"
    "ubicaciones ubicaciones unidades unidades"
    "ubicaciones ubicaciones unidades unidades"
    ;
    gap: 20px;
}


/* SECCIÓN: RESULTADOS GENERALES (BOTONES DE COLORES CON TOTALES) */
.inventario_dashboard__seccion_resultados {
    grid-area: resultados;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 30px;
}


.seccion_resultados__resultado_colorido {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    height: 85%;
}

.resultado_colorido__icono {
    display: flex;
    width: 27%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.resultado_colorido__informacion {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: start;
    padding: 0 15px;
}


/* SECCIÓN: RESULTADOS GENERALES (BOTONES DE COLORES CON TOTALES) */
.inventario_dashboard__seccion_ultimos_insumos {
    grid-area: ult_existencias;
    width: 100%;
    height: 100%;
}


/* SECCIÓN: GRAFICO DE BARRAS DE CATEGORÍAS DE INSUMOS */
.inventario_dashboard__seccion_categorias {
    grid-area: categorias;
    width: 100%;
    height: 100%;
}

.seccion_categorias__grafico {
    width: 100%;
    height: 100%;
}


/* SECCIÓN: PROVEEDORES */
.inventario_dashboard__seccion_proveedores {
    grid-area: proveedores;
    width: 100%;
    height: 100%;
}

.seccion_proveedores__cuadros_informativos {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 5px;
}
.seccion_proveedores__cuadro_informativo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: auto;
    min-width: 100px;
    height: 100%;
    border: 1px solid var(--color-primary-variant);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

/* SECCIÓN: PROVEEDORES */
.inventario_dashboard__seccion_prestamos {
    grid-area: prestamos;
    width: 100%;
    height: 100%;
}

/* SECCIÓN: PROVEEDORES */
.inventario_dashboard__seccion_bajas {
    grid-area: bajas;
    width: 100%;
    height: 100%;
}