{# HTML de pruebas para desarrollar un componente de forma aislada. Usarlo no es obligatorio, pero se recomienda #}

{# Plantilla base #}{% extends 'gestion_inventario/layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la ventana #} {% block titulo_ventana %}Inventario Pruebas{% endblock %}
{# Título de la página #} {% block titulo_pagina %}Pruebas{% endblock %}

{% block contenido %}

<div class="main_pruebas_container">

    <section class="panel_simple">
        <div class="panel_simple__encabezado">
            <h3 class="panel_simple__titulo">Panel</h3>
        </div>
        <div class="panel_simple__tabla">
            
        </div>
    </section>

</div>
    
{% endblock  %}