<section id="MenuUsuarioDropdown" class="menu_desplegable_usuario fondo_secundario_variante">
    <ul class="menu_desplegable_usuario__opciones fs_pequena color_primario">

        <li class="menu_desplegable_usuario__opcion">
            <a class="fs_normal color_primario_variante" href="">
                <i class="fa-solid fa-id-card"></i>
                Mi cuenta
            </a>
        </li>

        <li class="menu_desplegable_usuario__opcion">
            <a 
            class="fs_normal color_primario_variante" 
            href="{% url 'ruta_usuarios_alternar_tema' %}"
            >
                <i class="fa-solid fa-circle-half-stroke"></i>
                Tema: 
                {% if request.session.dark_mode|default:False %}
                Oscuro
                {% else %}
                Claro
                {% endif %}
            </a>
        </li>
        
        <li class="menu_desplegable_usuario__opcion">
            <a class="fs_normal color_primario_variante" href="">
                <i class="fa-solid fa-circle-info"></i>
                Información del sistema
            </a>
        </li>

        <li class="menu_desplegable_usuario__opcion">
            <a class="fs_normal color_primario_variante" href="{% url 'ruta_portal_inicio' %}">
                <i class="fa-solid fa-chalkboard"></i>
                Volver al Portal
            </a>
        </li>

        <li class="menu_desplegable_usuario__opcion">
            <a class="fs_normal color_primario_variante" href="">
                <i class="fa-solid fa-door-open"></i>
                Cerrar sesión
            </a>
        </li>
    </ul>
</section>