body.dark-mode {
    /* Colores */
    --color-header: rgb(37, 37, 37);
    --color-header-border: rgb(102, 102, 102);
    --color-sidebar: rgb(31, 31, 31);
    --color-sidebar-border: rgb(104, 104, 104);
    --color-sidebar-option: rgb(49, 49, 49);
    --color-main: rgb(44, 44, 44);
    
    --color-primary: rgb(241, 241, 241);
    --color-primary-variant: rgb(224, 224, 224);
    --color-secondary: rgb(54, 54, 54);
    --color-secondary-variant: rgb(10, 10, 10);
}