<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral">


    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                <i class="fa-solid fa-clipboard"></i>
                <span>Fichas médicas</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Pendiente</a></li>
        </ul>
    </section>

    {# Sección #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                {# Icono #}
                <i class="fa-solid fa-capsules"></i>
                <span>Medicamentos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>
        
        {# Subsecciones #}
        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Lista de medicamentos</a></li>
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Agregar medicamento</a></li>
        </ul>
    </section>


</nav>