{% extends 'portal/layouts/base.html' %}
{% load static %}
{% block titulo_ventana %}Correo Enviado{% endblock %}
{% block modulo %}Bomberil{% endblock %}

{% block contenido %}
<style>
  /* Estilos para centrar el contenido */
  .confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
  }
  
  /* Estilos para el ícono de verificación */
  .check-icon {
    font-size: 4.5rem; /* Hace el ícono grande */
    color: #198754; /* Color verde de éxito de Bootstrap */
    margin-bottom: 1.5rem;
  }
</style>

<div class="container confirmation-container">
  <div class="col-xl-5 col-lg-7 col-md-9 col-sm-12">
    
    <div class="card shadow-sm border-0 rounded-lg">
      <div class="card-body p-5 fs normal">

        <i class="fas fa-check-circle check-icon"></i>
        
        <h2 class="card-title h3 mb-3 fs_grande">Correo para restablecer contraseña enviado</h2>
        
        <p class="card-text text-muted mb-4 fs_normal">
          Sigue las instrucciones del correo para restablecer tu contraseña. Si no lo encuentras, revisa tu carpeta de spam.
        </p>
        
        <div class="d-grid">
            <a href="{% url 'acceso:ruta_login' %}" class="btn btn-link text-decoration-none fs_normal">Hecho</a>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}