.alerta {
    z-index: var(--flash-message-z-index);
}

.alert-error, .alert-danger {
    background-color: var(--color-rojo);
}

.alert-success {
    background-color: var(--color-verde);
}

.contenedor_alerta {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.errorlist {
    font-size: var(--fs-normal);
    color: var(--color-blanco);
}

.alerta_especial_js {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}