/* Botón que ocupa el máximo espacio horizontal */
.boton_flex {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
}

.boton {
    display: flex;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    gap: 10px;
}
.boton_s {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.boton_icono {
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 5px;
}