.input_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    gap: 8px;
}

.input_box__label {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: start;
    align-items: start;
    padding: 0 5px;
    gap: 10px;
}

.input_box__input {
    height: 45px;
    padding: 0 10px;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 10px;
}
.input_box__input-file {
    height: 45px;
    padding: 0 10px;
}

.contenedor_formulario_simple {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 1000px;
    min-width: 320px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.formulario_simple__caja_botones {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: end;
    gap: 30px;
}