.btn {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    min-width: 90px;
    min-height: 50px;
    padding: 0 20px;
    border-radius: 20px;
    transition: transform 0.1s ease;
}
.btn:hover {
    transform: scale(1.1);
}