/*
.main {
    position: relative;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--main-title-height) auto;
    grid-template-areas: 
    "main_title main_title main_title"
    "main_content main_content main_content"
    ;
}
*/

.main {
    position: relative;
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

/*
.main__titulo_pagina {
    grid-area: main_title;
    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
*/

.main__titulo_pagina { 
    display: flex;
    width: 100%;
    height: var(--main-title-height);
    justify-content: center;
    align-items: center;
}

.main_pruebas_container {
    grid-row: 1/-1;
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 30px;
}