.main {
    position: relative;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--main-title-height) auto;
    grid-template-areas: 
    "main_title main_title main_title"
    "main_content main_content main_content"
    ;
}

.main__title_page {
    grid-area: main_title;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}