.menu_desplegable_usuario {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 350px;
    height: auto;
    padding: 10px 15px;
    border-radius: 20px;
    right: 20px;
    top: calc(var(--header-height) + 10px);
    opacity: 0;
    
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.3s ease;
    pointer-events: none;
    z-index: var(--dropdown-user-menu-z-index);
}

.menu_desplegable_usuario.activo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.menu_desplegable_usuario__opciones {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.menu_desplegable_usuario__opcion{
    width: 100%;

}
.menu_desplegable_usuario__opcion a, .menu_desplegable_usuario__opcion button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 0 15px;
    border-radius: 10px;
}
.menu_desplegable_usuario__opcion a:hover {
    border: 1px solid var(--color-blue-hover);
}