/* Aquí se registran las fuentes que se usarán en el sistema */

@font-face {
    font-family: 'Roboto';
    src: url('../../fuentes/Roboto//static/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Raleway';
    src: url('../../fuentes/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}