/* Estilos para tamaños de fuentes. Por defecto, se aplica la tipografía "Roboto" */ 

.fs_pequena {
    font-size: var(--fs-small);
    font-family: 'Roboto';
}

.fs_normal {
    font-size: var(--fs-normal);
    font-family: 'Roboto';
}

.fs_mediana {
    font-size: var(--fs-medium);
    font-family: 'Roboto';
}

.fs_grande {
    font-size: var(--fs-large);
    font-family: 'Roboto';
}

.fs_x_grande {
    font-size: var(--fs-x-large);
    font-family: 'Roboto';
    
}

.fs_xx_grande {
    font-size: var(--fs-xx-large);
    font-family: 'Roboto';
}