/* Estilos para tamaños de fuentes. Por defecto, se aplica la tipografía "Roboto" */ 

.fs_pequena {
    font-size: var(--fs-small);
    font-family: 'Roboto';
}

.fs_normal {
    font-size: var(--fs-normal);
    font-family: 'Roboto';
}

.fs_mediana {
    font-size: var(--fs-medium);
    font-family: 'Roboto';
}

.fs_grande {
    font-size: var(--fs-large);
    font-family: 'Roboto';
}

.fs_x_grande {
    font-size: var(--fs-x-large);
    font-family: 'Roboto';
    
}

.fs_xx_grande {
    font-size: var(--fs-xx-large);
    font-family: 'Roboto';
}

.fs_layout_icono {
    font-size: var(--fs-layout-icon);
}

.fs_header_titulo {
    font-size: var(--fs-header-title);
    font-family: 'Roboto';
}

.fs_nav_seccion {
    font-size: var(--fs-nav-section);
    font-family: 'Roboto';
}

.fs_nav_opcion {
    font-size: var(--fs-nav-option);
    font-family: 'Roboto';
}