:root {
    /* Tamaños de fuente de texto */
    --fs-small: 1.15rem;
    --fs-normal: 1.5rem;
    --fs-medium: 1.9rem;
    --fs-large: 2.3rem;
    --fs-x-large: 3.0rem;
    --fs-xx-large: 4.0rem;

    /* Colores */
    --color-primary: rgb(10, 10, 10);
    --color-primary-variant: rgb(78, 78, 78);
    --color-secondary: rgb(255, 255, 255);
    --color-secondary-variant: rgb(245, 245, 245);
    
    --color-header: rgb(255, 255, 255);
    --color-header-inventario: rgb(255, 255, 255);
    --color-header-mantenimiento: rgb(255, 255, 255);
    --color-header-medico: rgb(255, 255, 255);
    --color-header-usuarios: rgb(255, 255, 255);
    --color-header-voluntarios: rgb(255, 255, 255);
    --color-header-border: rgb(199, 199, 199);
    --color-user-menu:rgb(223, 223, 223);

    --color-sidebar: rgb(255, 255, 255);
    --color-sidebar-border: rgb(199, 199, 199);
    --color-sidebar-option: rgb(242, 242, 242);
    --color-sidebar-option-border: rgb(200, 200, 200);
    --color-main: rgb(230, 230, 230);


    --color-negro: rgb(17, 17, 17);
    --color-azul: rgb(47, 113, 255);
    --color-verde: rgb(59, 163, 59);
    --color-gris: rgb(94, 94, 94);
    --color-gris-claro: rgb(180, 180, 180);
    --color-naranjo: rgb(255, 144, 39);
    --color-rojo: rgb(245, 60, 60);
    --color-blanco: rgb(255, 255, 255);
    --color-blanco-variante: rgb(245, 245, 245);
    --color-blanco-transparente: rgba(255, 255, 255, 0.11);
    --color-amarillo: rgb(251, 201, 0);
    --color-morado: rgb(156, 30, 154);


    /* Dimensiones para estandarización */
    --header-height: 80px;

    --navbar-width: 325px;
    --navbar-section-height: 60px;

    --main-title-height:50px;

    --input-height: 50px;
    --card-border-radius: 50px;
    --footer-height: 100px;

    --portal-title: 100px;
    --portal-menu-height: 500px;
    --portal-menu-min-width: 400px;
    --portal-menu-width: 1200px;
    --portal-menu-max-width: 1600px;
    --portal-menu-opcions-width: 35%;
    --portal-menu-preview-width: 65%;
    --portal-menu-opcion-height: 50px;

    --laptop-width: 1000px;

    /* Z-index */
    --background-z-index: 0;
    --portal-menu-z-index: 10;
    --header-z-index: 100;
    --navbar-z-index: 99;
    --dropdown-user-menu-z-index: 101;
}






/*-------------------*/
/* DISEÑO RESPONSIVO */
/*-------------------*/

/* Laptops pequeñas */
@media (max-width: 1300px) {
    :root {
        /* Tamaños de fuente de texto */
        --fs-small: 1.2rem;
        --fs-normal: 1.4rem;
        --fs-medium: 1.8rem;
        --fs-large: 2.2rem;
        --fs-x-large: 2.9rem;
        --fs-xx-large: 3.9rem;

        /* Dimensiones para estandarización */
        --navbar-width: 250px;
    }
}