<nav id="barra_lateral" class="barra_lateral fondo_barra_lateral">


    {# Sección: Gestión de inventario #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                <i class="fa-solid fa-truck-ramp-box"></i> 
                <span>Existencias</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Lista de insumos</a></li>
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Lista de insumos por lote</a></li>
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Insumos de baja</a></li>
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Agregar insumo</a></li>
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Agregar insumos por lote</a></li>
        </ul>
    </section>


    {# Sección: Gestión de catálogo de productos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                <i class="fa-solid fa-book"></i>
                <span>Catálogo de productos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Pendiente</a></li>
        </ul>
    </section>


    {# Sección: Gestión de Vehículos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                <i class="fa-solid fa-truck-front"></i>
                <span>Unidades</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Pendiente</a></li>
    </section>


    {# Sección: Gestión de Compartimentos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                <i class="fa-solid fa-toilet-portable"></i>
                <span>Compartimentos</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Pendiente</a></li>
    </section>


    {# Sección: Gestión de Almacenes / bodegas / espacios físicos #}
    <section class="barra_lateral__seccion">

        <div class="barra_lateral__modulo" data-toggle="modulo">
            <a href="" class="barra_lateral__modulo_nombre fs_normal color_primario scale">
                <i class="fa-solid fa-warehouse"></i>
                <span>Almacenes</span>
            </a>
            <i class="fa-solid fa-chevron-down color_primario barra_lateral__flecha_modulo"></i>
        </div>

        <ul class="barra_lateral__lista_opciones oculto">
            <li><a class="color_primario fs_pequena fondo_opcion_nav" href="">Pendiente</a></li>
    </section>






    
</nav>